@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #314154;
  --background-start: #d1fdff;
  --background-end: #fddb92;
  --accent-1: #A2AEBB;
  --accent-2: #75ABBC;
}


body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

.modal-blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  z-index: 100;
}

.modal-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}

.modal-card {
  background-color: white;
  height: 50%;
  width: 50%;
  border-radius: 4rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
}
